.media-scroller {
  cursor: grab;
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 17vh;
  padding: 0rem 1rem 0rem 1rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media-scroller--with-groups {
  grid-auto-columns: 80%;
}

.media-group {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
}

.media-element {
  display: grid;
  grid-template-rows: min-content;
  gap: 1rem;
  height: 20vh;
  padding: 1rem;
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
}

.media-element > img {
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

/* general styling */

.container {
  inline-size: min(100% - 4rem, 70rem);
  margin-inline: auto;
}

.flow {
  display: grid;
}

.ActionArea {
  height: auto;
}

@media screen and (max-width: 950px) {
  .media-scroller {
    padding: 0;
    grid-auto-columns: 31%;
  }
}
